i.icon {
	font-size: 2em;
}

.container.main {
	margin-top: 7.0em;
	
}
#delete {
	display: inline;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.ui.segment {
	min-height: 100%;
	min-width: 100%;
	position: relative;
}


#readmoreIndex {
	position: absolute;
	bottom: 0;
}